.main {
  width:390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
  min-height: 100vh;
  position: relative;
}

.main a{
  background-color: rgb(230, 120, 40);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  position: absolute;
  top: 80px;
}

.sects{
  position: absolute;
  top: 80px;
}
